body {
	background-color: #eeeeee;
}

#graph #innerContent {
	margin: 0 auto;
	width: 96%;
	border-radius: 2px;
	background-color: white;
	border-bottom: 1px solid #dddddd;
	display: block;
}

#graph #innerContent svg{
	display: block;
	margin: 0 auto;
}
#graph {
	width: 100%;
	padding: 2% 0;
}

#wordList {
	margin: 0 auto;
	background-color: white;
	width: 96%;
	height: 200px;
	border-radius: 2px;
	margin-bottom: 2%;
	border-bottom: 1px solid #dddddd;
}

.switch_button {
	width: 250px;
	height: 70px;
	float: left;
	border: solid 1px #dddddd;
}
